*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- */

header{
    background-color: #000000;
    height: 90vh;
    width: 230px;
}


main{
    background-color: #141922;
    width: calc(100% - 230px);
    height: 90vh;
}


.flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}


footer{
    background-color: #282828;
    height: 10vh;
    width: 100%;


    
}


@media all and (max-width:575px) {

    header{
        width: 50px;
    }

    main{
        width: calc(100% - 50px);
    }
    
}
/* ----------------- */

.conteiner {
    width: 95%;
    margin: 0 auto;
}

.text-uppercase{
    text-transform: uppercase;
}

.color-white{
    color: white;
}

.general-padding{
    padding: 1rem 0;
}

.overflow-y{
    overflow-y: scroll;
}

.margine-generale {
    margin: 0 0.5rem;
}

.padding-left-right{
    padding: 1rem 0.5rem;
}


/* -------------------- */

.header-main{
    background-color: #080b12;
    padding: 1.5rem 0;
    text-align: end;
}

.bottone-upgrade{
    border-radius: 25px;
    background-color: #080b12;
    color: white;
    border: 1px solid white;

    padding: 1rem 2.5rem;

    font-size: 0.7rem;

    margin-right: 0.5rem;
}

/* ------------- */

.nav-main{
    text-align: center;
}

section.nav-main>a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

/* ----------------- */




.dischi{
    width: calc((100% / 6) - 1rem);
    
    /* da eliminare */
    background-color: red;
    height: 200px; 
    /* --------- */


}


/* ------------ */

.color-grey{
    color: grey;
}

section.conteiner>p.color-grey{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* ------------ */

.suggerimenti{

    width:calc((100% / 6) - 1rem);

    /* da eliminare */
    height: 200px;
    background-color: blue;
    /* --- */
}

/* ------------- */

.artisti{

    width: calc((100% / 6) - 1rem);

    border-radius: 100%;

    /* da eliminare */
    height: 250px;
    background-color: violet;
    /* --------- */

}

@media all and (max-width:768px) {
    
    .dischi{
        width: calc((100% / 4) - 1rem);
    }

    .dischi:nth-last-child(1){
        margin-top: 0.5rem;
    }

    .dischi:nth-last-child(2) {
        margin-top: 0.5rem;
    }



    .suggerimenti{
        width: calc((100% / 4) - 1rem);
    }

    .artisti{
        width: calc((100% / 4) - 1rem);
    }


    section.nav-main>a:last-child{
        margin-top: 2rem;
        display: inline-block;
    }

}