*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- */

header{
    background-color: #000000;
    height: 90vh;
    width: 230px;
}


main{
    background-color: #141922;
    width: calc(100% - 230px);
    height: 90vh;
}


footer{
    background-color: #282828;
    height: 10vh;
    width: 100%;


    
}


@media all and (max-width:575px) {

    header{
        width: 50px;
    }

    main{
        width: calc(100% - 50px);
    }
    
}

/* ----------------- */

.conteiner {
    width: 95%;
    margin: 0 auto;
}

.text-uppercase{
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-direction-column{
    flex-direction: column;
}

.color-white{
    color: white;
}

.general-padding{
    padding: 1rem 0;
}

.overflow-y{
    overflow-y: auto;
}

.margine-generale {
    margin: 0 0.5rem;
}

.padding-left-right{
    padding: 1rem 0.5rem;
}

/* --------------- */

.padding-header{
    padding: 1rem;
}

.margine-header-top-bottom{
    margin: 0.5rem 0;
}

.f-size-header{
    font-size: 0.8rem;
}

.align-items-center{
    align-items: center;
}


nav.flex{

    height: 100%;

    justify-content: space-between;
}

.img-logo{
    width: 80%;

    margin-bottom: 1.5rem;

}

.img-logo-small{

  
    
    display: none;
}

.img-utility{
    width: 15%;

}


.img-dowload{
    width: 5%;
}

.img-profile{
    width: 10%;
}

div.flex>h3.f-size-header{
    margin-left: 0.3rem;
}

div.align-items-center>i{
    font-size: 3rem;
}

.margine-playlist{
    margin: 1.2rem 0;
}

div.riga>hr{
    border-color: grey;
}


@media all and (max-width:575px) {

    .padding-header{
        padding: 0.5rem;
    }

    .playlist{
        display: none;
    }

    .img-logo{
        display: none;
    }

    .img-logo-small{
        display: inline-block;
        width: 100%;
    }
    
    div.flex>h3.f-size-header{
        display: none;
    }

    div.riga>hr {
        display: none;
    }

    .img-utility{
        width: 100%;
    }

    .img-dowload{
        width: 50%;


    }

    .img-profile{
        width: 80%;
    }

    .align-items-center{
        justify-content: center;
    }
}







/* -------------------- */

.header-main{
    background-color: #080b12;
    padding: 1.5rem 0;
    text-align: end;
}

.bottone-upgrade{
    border-radius: 25px;
    background-color: #080b12;
    color: white;
    border: 1px solid white;

    padding: 1rem 2.5rem;

    font-size: 0.7rem;

    margin-right: 0.5rem;
}

/* ------------- */

.nav-main{
    text-align: center;
}

.contenitori-a3{
    display: inline;
}

.contenitori-a2 {
    display: inline;
}

.contenitori-a1 {
    display: inline;
}

div.contenitori-a3>a,
div.contenitori-a2>a,
div.contenitori-a1>a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

/* ----------------- */




.dischi{
    width: calc((100% / 6) - 1rem);
    
    text-align: center;

    /* da eliminare */
    /* background-color: red; */
    /* height: 200px;  */
    /* --------- */


}

.img-dischi{
    width: 100%;
}

div.dischi>h2,
div.dischi>p{
    margin-top: 0.5rem;
}

div.dischi>h2{
    font-size: 0.9rem;
}


/* ------------ */

.color-grey{
    color: grey;
}

section.conteiner>p.color-grey{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* ------------ */

.suggerimenti{

    width:calc((100% / 6) - 1rem);

    text-align: center;
    /* da eliminare */
    /* height: 200px; */
    /* background-color: blue; */
    /* --- */
}

.img-suggerimenti{
    width: 100%;
}

div.suggerimenti>h2{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}


/* ------------- */

.artisti{

    width: calc((100% / 6) - 1rem);
    text-align: center;
    /* border-radius: 100%; */

    /* da eliminare */
    /* height: 250px; */
    /* background-color: violet; */
    /* --------- */

}

.img-artisti{
    width: 100%;
    border-radius: 100%;
}

div.artisti>h2{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}


@media all and (max-width:992px) {
    
    .dischi{
        width: calc((100% / 4) - 1rem);
    }

    .dischi:nth-last-child(1){
        margin-top: 0.5rem;
    }

    .dischi:nth-last-child(2) {
        margin-top: 0.5rem;
    }



    .suggerimenti{
        width: calc((100% / 4) - 1rem);
    }

    .artisti{
        width: calc((100% / 4) - 1rem);
    }

    .contenitori-a1{
        display: block;
    }

    
    .contenitori-a1{
        margin-top: 2rem;
    }
    

}

@media all and (max-width:768px) {

    .dischi {
        width: calc((100% / 2) - 1rem);
    }

    .suggerimenti {
        width: calc((100% / 2) - 1rem);
    }

    .artisti {
        width: calc((100% / 2) - 1rem);
    }


    .dischi:nth-last-child(3) {
        margin-top: 0.5rem;
    }

    .dischi:nth-last-child(4) {
        margin-top: 0.5rem;
    }

    .contenitori-a3{
        display: block;
    }

    .contenitori-a1 {
        display: inline-block;
    }

    
   
    

}

@media all and (max-width:575px) {

   .contenitori-a3{
    display: inline;
   }

   .contenitori-a2{
       display: block;
   }

    
}

/* ---------- */