*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ---------- */

header{
    background-color: #000000;
    height: calc(100vh - 80px);
    width: 230px;
}


main{
    background-color: #141922;
    width: calc(100% - 230px);
    height:calc(100vh - 80px);
}


footer{
    background-color: #282828;


    height: 80px;

    
    width: 100%;




    
}


@media all and (max-width:575px) {

    header{
        width: 50px;
    }

    main{
        width: calc(100% - 50px);
    }
    
}

/* ----------------- */

.conteiner {
    width: 95%;
    margin: 0 auto;
}

.text-uppercase{
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-direction-column{
    flex-direction: column;
}

.color-white{
    color: white;
}

.general-padding{
    padding: 1rem 0;
}

.overflow-y{
    overflow-y: auto;
}

.margine-generale {
    margin: 0 0.5rem;
}

.padding-left-right{
    padding: 1rem 0.5rem;
}

/* --------------- */

.padding-header{
    padding: 0.5rem 1rem;
}

.margine-header-top-bottom{
    margin: 0.5rem 0;
}

.f-size-header{
    font-size: 0.8rem;
}

.riga-header{
    border: 1px solid lime;
    height: 35px;

    position: absolute;
    left: -16px;
}



.align-items-center,
.align-items-center-header{
    align-items: center;
}



nav.flex{

    height: 100%;

    justify-content: space-between;
}

.img-logo{
    width: 80%;

    margin-bottom: 1.5rem;

}

.img-logo-small{

  
    
    display: none;
}

.img-utility{
    width: 15%;

    filter: brightness(0.5);

}


.img-dowload{
    width: 10%;
    filter: brightness(0.5);
}

.img-profile{
    width: 13%;
    border-radius: 100%;
    background-color: grey;
}

div.flex>h3.f-size-header{
    margin-left: 0.3rem;
}

div.align-items-center-header>i{
    font-size: 3rem;
}



.margine-playlist{
    margin: 1.2rem 0;
}

div.riga>hr{
    border-color: grey;
}


section img:hover{
    cursor: pointer;
    filter: brightness(1);
}
div.flex h3.f-size-header:hover{
    cursor: pointer;
    color: white;
}

.fa-square-plus:hover{
    cursor: pointer;
    color: white;
}




@media all and (max-width:575px) {

    .padding-header{
        padding: 0.5rem;
    }

    .playlist{
        display: none;
    }

    .img-logo{
        display: none;
    }

    .img-logo-small{
        display: inline-block;
        width: 100%;
    }
    
    div.flex>h3.f-size-header{
        display: none;
    }

    div.riga>hr {
        display: none;
    }

    .img-utility{
        width: 100%;
    }

    .img-dowload{
        width: 50%;


    }

    .img-profile{
        width: 80%;
    }

    .align-items-center-header{
        justify-content: center;
    }

    .riga-header{
        display: none;
    }


}







/* -------------------- */

.header-main{
    background-color: #080b12;
    padding: 1.5rem 0;
    text-align: end;
}

.bottone-upgrade{
    border-radius: 25px;
    background-color: #080b12;
    color: white;
    border: 1px solid white;

    padding: 1rem 2.5rem;

    font-size: 0.7rem;

    margin-right: 1.5rem;
}

.bottone-upgrade:hover{
    transform: scale(1.2);
}

/* ------------- */

.nav-main{
    text-align: center;
}

.contenitori-a3{
    display: inline;
}

.contenitori-a2 {
    display: inline;
}

.contenitori-a1 {
    display: inline;
}


div.contenitori-a3 a{ 
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

div.contenitori-a3 a:hover{

    color: white;
    cursor: pointer;

}


.riga-small-nav-main{
    border: 1px solid lime;
    width: 25px;
    position: absolute;
    
    left: 35%;
}





/* ----------------- */

.p-relative{
    position: relative;
}

div.p-relative>i.fa-circle-play{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50% , -50%);

    font-size: 5rem;


    display: none;  
}

div.p-relative:hover img.img-dischi,
div.p-relative:hover img.img-artisti,
div.p-relative:hover img.img-suggerimenti{

    filter: opacity(0.5);

}

div.p-relative:hover>i.fa-circle-play{
    display: inline-block;
}




/* ----------- */
.dischi{
    width: calc((100% / 6) - 1rem);
    
    text-align: center;

    /* da eliminare */
    /* background-color: red; */
    /* height: 200px;  */
    /* --------- */


}

.img-dischi{
    width: 100%;
}

div.dischi>h2,
div.dischi>p{
    margin-top: 0.5rem;
}

div.dischi>h2{
    font-size: 0.9rem;
}


/* ------------ */

.color-grey{
    color: grey;
}

section.conteiner>p.color-grey{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* ------------ */

.suggerimenti{

    width:calc((100% / 6) - 1rem);

    text-align: center;
    /* da eliminare */
    /* height: 200px; */
    /* background-color: blue; */
    /* --- */
}

.img-suggerimenti{
    width: 100%;
}

div.suggerimenti>h2{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}


/* ------------- */

.artisti{

    width: calc((100% / 6) - 1rem);
    text-align: center;
    /* border-radius: 100%; */

    /* da eliminare */
    /* height: 250px; */
    /* background-color: violet; */
    /* --------- */

}

.img-artisti{
    width: 100%;
    border-radius: 100%;
}

div.artisti>h2{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}


@media all and (max-width:992px) {
    
    .dischi{
        width: calc((100% / 4) - 1rem);
    }

    .dischi:nth-last-child(1){
        margin-top: 0.5rem;
    }

    .dischi:nth-last-child(2) {
        margin-top: 0.5rem;
    }



    .suggerimenti{
        width: calc((100% / 4) - 1rem);
    }

    .artisti{
        width: calc((100% / 4) - 1rem);
    }

    .contenitori-a1{
        display: block;
    }

    
    .contenitori-a1{
        margin-top: 2rem;
    }
    

}

@media all and (max-width:768px) {

    .dischi {
        width: calc((100% / 2) - 1rem);
    }

    .suggerimenti {
        width: calc((100% / 2) - 1rem);
    }

    .artisti {
        width: calc((100% / 2) - 1rem);
    }


    .dischi:nth-last-child(3) {
        margin-top: 0.5rem;
    }

    .dischi:nth-last-child(4) {
        margin-top: 0.5rem;
    }

    .contenitori-a3{
        display: block;
    }

    .contenitori-a1 {
        display: inline-block;
    }

    
   
    

}

@media all and (max-width:575px) {

   .contenitori-a3{
    display: inline;
   }

   .contenitori-a2{
       display: block;
   }

    
}


@media all and (max-width:430px) {

    .contenitori-a3{
        display: block;
    }

    section.nav-main>div:last-child{
        margin-top: 0.5rem;
    }
    
    .contenitori-a2{
        display: inline;
    }

    .contenitori-a1{
        display: inline;
    }
}

@media all and (max-width:320px) {

    .contenitori-a1{
        display: inline-block;
        margin-top: 0.5rem;
    }
    
}

/* ---------- */



.margini-footer-1rem{
    margin: 0 1rem;
}

.margini-footer-5rem{

    margin: 0 0.5rem;
}

div.margini-footer-1rem>h3{
    font-size: 0.8rem;
}

div.margini-footer-1rem>p {
    font-size: 0.8rem;
}

.img-footer{
    height: 100%;
}

.first-section-footer{
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.last-section-footer{
    justify-content: end;
    padding-right: 1rem;
}

footer.flex>section.flex{
    width: calc(100% / 3);
}

footer.flex>section.f-direction-column{
    padding: 0.5rem;
}

section.f-direction-column{
    justify-content: center;
    align-items: center;
}

.tempo-trascorso-canzone{
    width: 70px;
}

.tempo-bianco{ 
    border: 2px solid white;
    border-radius: 25px;
}

.tempo-grigio{
    border: 2px solid grey;
    border-radius: 25px;
}

.tempo-totale-canzone{
    width: 250px;
}

footer div.flex{
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div.flex>p:first-child{
    margin-right: 0.5rem;
}

footer div.flex>p:last-child{
    margin-left: 0.5rem;
}

footer div>i{
    margin: 0 0.5rem 0.5rem 0.5rem;
    font-size: 1.3rem;
}



.tempo-trascorso-volume {
    width: 50px;
}

.tempo-totale-volume {
    width: 100px;
}

section.flex>i{
    margin: 0 1rem;
    font-size: 0.8rem;
}


div.margini-footer-1rem>p:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

section.flex>i.fa-heart:hover,
section.flex>i.fa-folder:hover{
    color: white;
    cursor: pointer;
}

div.strumenti-play-music>i.fa-circle-play:hover{
    transform: scale(1.5);
    cursor: pointer;
}



.tempo-trascorso-volume:hover>hr,
.tempo-trascorso-canzone:hover>hr {

    cursor: pointer;
    border: 2px solid lightgreen;

}


i.fa-circle{
    color: white;

    font-size: 0.9rem;

    position: absolute;

    right: -15px;
    top: -5px;

    display: none;
}

.tempo-trascorso-volume:hover>i,
.tempo-trascorso-canzone:hover>i{
    display: inline-block;

    cursor: pointer;
}




@media all and (max-width:992px) {
    
    

    

    div.margini-footer-1rem>p {
        width: 70px;
    }

    section.flex>i.fa-heart,
    section.flex>i.fa-folder{
        margin: 0 0.5rem;
    }

}

@media all and (max-width:768px){

    footer>section>section.flex{
        flex-direction: column;
    }

    footer>section>section.flex>i:first-child {
        margin-bottom: 0.5rem;
    }

}

@media all and (max-width:660px){

    section.flex>i{
        margin: 0 0.2rem;
    }

    footer div>i{
        font-size: 1.1rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    }

    div.margini-footer-1rem>p{
        width: 100%;
    }

}

@media all and (max-width:560px) {

   

    footer div>i {
        margin: 0 0.2rem 0.5rem 0.2rem;
    }

    .first-section-footer{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .margini-footer-1rem{
        margin: 0 0.2rem;
    }

    section.flex>i.fa-heart,
    section.flex>i.fa-folder{
        margin: 0 0.2rem;
    }


    section.last-section-footer>i{
        font-size: 0.7rem;
    }

    div.flex>p.color-white{
        font-size: 0.5rem;
    }

}